<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<script src="/bower_components/iron-ajax/iron-ajax.js"></script>

<dom-module id="gestor-clientes">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <div class= "container">
      <div class="form-inline" role="form">
        <img class="mb-4" src="https://www.bbva.com/wp-content/uploads/2019/04/Logo-BBVA-1920x1080.jpg" alt="" width="172" height="172">
        <h1 class="h3 mb-3 font-weight-normal">SIMULADOR PRESTAMOS</h1>
        <img class="mb-4" src="https://www.bbva.com/wp-content/uploads/2019/04/Logo-BBVA-1920x1080.jpg" alt="" width="172" height="172">
        <p class="mt-5 mb-3 text-muted">&copy; TECH-U 2019 - OMESAT </p>
      </div>
      <div class="form-inline" role="form">
        <small id="emailHelp" class="form-text text-muted">Nunca Comparta sus Usuarios.</small>
      </div>
      <div class="form-inline" role="form">
        <div class="form-group">
          <label for="exampleInputEmail1"> Direcciòn Email. </label>
          <input type="email" class="form-control" id="exampleInputEmail1" value="{{email::input}}" aria-describedby="emailHelp" placeholder="Enter email">
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Contraseña. </label>
          <input type="password" class="form-control" id="exampleInputPassword1" value="{{password::input}}" placeholder="Password">
        </div>
        <label > .  </label>
        <button type="submit" on-click="obtenerClientes" class="btn btn-primary">Ingresar</button>
      </div>
      <iron-ajax
        id=fajax;
          url="http://localhost:3002/colapi/v3/login/{{email}}"
        handle-as="json"
        on-response="respuesta"></iron-ajax>
    </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class Gestorclientes extends Polymer.Element {
      static get is() { return 'gestor-clientes'; }
      static get properties() {
        return {
          email: {
            type: String
          }
        };
      }
  obtenerClientes() {
    var loginData = {
         "email" : this.email
    };
    this.$.fajax.generateRequest();
    }
    anadirClientes(){
      var url = "http://localhost:3002/movimientos";
      var request = new XMLHttpRequest();
      request.open("POST",url, false);
      request.setRequestHeader("Accept","aplication/json");
      request.setRequestHeader("Content-Type","aplication/json");

      var nuevoCliente ={"CustomerID":"12345", "ContactName":"Pepe", "CompanyName":"Pepes"}
      var body= JSON.stringify(nuevoCliente);
      request.send(body);
      this.respuesta=request.responseText;
      console.log(this.respuesta);
      this.noCargados=false;
    }
  }
    window.customElements.define(Gestorclientes.is, Gestorclientes);
  </script>
</dom-module>
